
center {
  text-align: center;
  color: rgb(255, 255, 255);
}

.bordem {
                border-style: solid;
                border: 2px solid gray;
                border-radius: 8px;
                width: 15%;
                height:500px;
                border-width: 5px 5px 5px 5px;
}